@model RadioCab.Models.CabCompany

@{
    ViewData["Title"] = "Create";
}

<h1>Registration</h1>


<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label">Company Name</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="control-label">Contact Person</label>
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignNation" class="control-label"></label>
                <input asp-for="DesignNation" class="form-control" />
                <span asp-validation-for="DesignNation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CabAddress" class="control-label">Cab Address</label>
                <input asp-for="CabAddress" class="form-control" />
                <span asp-validation-for="CabAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaxNumber" class="control-label"></label>
                <input asp-for="FaxNumber" class="form-control" />
                <span asp-validation-for="FaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipType" class="control-label"></label>
                <select asp-for="MembershipType" asp-items="Html.GetEnumSelectList<MembershipType>()" class="form-control">
                    <option value="">-- Select Membership Type --</option>
                </select>
                <span asp-validation-for="MembershipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
