@{
    ViewData["Title"] = "Choose Payment Package";
}

<h1>Choose your Advertisment Payment Package</h1>

<form asp-controller="Advertisments" asp-action="Payment" method="post">
    <input type="radio" name="package" value="monthly" checked> Monthly ($15)<br>
    <input type="radio" name="package" value="quarterly"> Quarterly ($40)<br>
    <input type="submit" value="Proceed to Payment">
</form>
