@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>
                    <a asp-controller="UserController" asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-controller="UserController" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
