@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" , style="font-weight: bold">Welcome to RadioCabs</h1>

</div>


<div class="slideshow-container">
    <div class="slide">
        <img src="images/HomepageImage1.png" alt="Image 1">
    </div>
    <div class="slide">
        <img src="images/HomepageImage2.jpg" alt="Image 2">
    </div>
    <div class="slide">
        <img src="images/AdImage1.jpg" alt="Image 3">
    </div>
</div>



<div class="flex-container">
    <div style="flex: 1;">
        <h2>What is a RadioCabs</h2>
        <h3 style="text-align: justify; font-weight: normal">
            RadioCabs are an excellent example of a connected service which is optimized to serve the customers
            as and when needed and in a comfortable way. These cabs are usually operated by a corporation running them as a manages service.
            All taxis have a GPS unit fitted with it which tells where the taxi is present right now,
            also there is a central information system which can tell which taxi is available to serve the customer.
            The call center will contact the available taxi nearest to customer’s location and send them to serve the customer for his commuting needs.
        </h3>
    </div>
    <div style="flex: 1;">
        <img src="images/Hompage4.jpg" alt="hinh anh minh hoa">
    </div>
</div>



<div class="service">
    <h1>Service</h1>
</div>



<div class="flex-center">
    <div style="flex: 2;">
        <img src="images/AdImage6.jpg" alt="taxi">
        <div class="content">
            <p>
                We offer a range of taxi models from mid-range to premium, along with corresponding tailored services.
                Additionally, we provide different membership levels (Premium, Basic, Free) to receive appropriate benefits based on the tier.
            </p>
            <a href="#" class="read-more">>></a>
        </div>
    </div>


    <div style="flex: 2;">
        <img src="images/HomepageImage3.jpg" alt="hinh anh minh hoa">
        <div class="content">
            <p>
                RadioCabs are an excellent example of a connected service which is optimized to serve the customers as and when needed and in a comfortable way.
                These cabs are usually operated by a corporation running them as a managed service.
                All taxis have a GPS unit fitted with it which tells where the taxi is present right now,
                also there is a central information system which can tell which taxi is available to serve the customer.
                The call center will contact the available taxi nearest to the customer's location and send them to serve the customer for their commuting needs.
            </p>
            <a href="#" class="read-more">>></a>

</div>
</div>
</div>

            <style>
                .slideshow-container {
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                    padding-bottom: 100px
                }

                .slide {
                    display: none;
                }

                img {
                    width: 100%;
                }

                .prev, .next {
                    position: absolute;
                    top: 50%;
                    width: auto;
                    padding: 16px;
                    margin-top: -22px;
                    color: white;
                    font-weight: bold;
                    font-size: 20px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    background: rgba(0, 0, 0, 0.5);
                }

                .prev {
                    left: 0;
                    border-radius: 3px 0 0 3px;
                }

                .next {
                    right: 0;
                    border-radius: 0 3px 3px 0;
                }


                .flex-container {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    color: black;
                }

                    .flex-container > div {
                        margin: 10px;
                        padding: 80px;
                        font-size: 20px;
                    }

                .flex-container {
                    display: flex;
                    flex-direction: column;
                    background-color: lightgrey;
                    color: black;
                }

                    .flex-container > div {
                        margin: 10px;
                        padding: 80px;
                        font-size: 20px;
                    }

                        .flex-container > div:first-child {
                            order: 1;
                        }

                        .flex-container > div:last-child {
                            order: 2;
                        }

                .flex-center {
                    display: flex;
                    background-color: lightgrey;
                    color: black;
                }

                    .flex-center > div {
                        margin: 10px;
                        padding: 80px;
                        font-size: 20px;
                    }

                .content {
                    position: relative;
                }

                    .content p {
                        text-align: justify;
                        font-weight: normal;
                        overflow: hidden;
                        max-height: 200px;
                    }

                    .content.expand p {
                        max-height: none;
                    }

                    .content .read-more {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background: lightgrey;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: black;
                    }

                        .content .read-more:hover {
                            text-decoration: underline;
                        }

                .service {
                    font-weight: bold;
                    text-align: center;
                    background: lightgrey;
                    color: black;
                }
            </style>


            <script>
                let slideIndex = 0;
                showSlides();

                function showSlides() {
                    let slides = document.getElementsByClassName("slide");

                    for (let i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }

                    slideIndex++;

                    if (slideIndex > slides.length) {
                        slideIndex = 1;
                    }

                    slides[slideIndex - 1].style.display = "block";

                    setTimeout(showSlides, 3000);
                }
                document.addEventListener("DOMContentLoaded", function () {
                    var readMoreLinks = document.querySelectorAll(".read-more");

                    readMoreLinks.forEach(function (link) {
                        link.addEventListener("click", function (event) {
                            event.preventDefault();
                            var content = this.parentElement;
                            content.classList.toggle("expand");
                            this.textContent = content.classList.contains("expand") ? "<<" : ">>";
                        });
                    });
                });
            </script>
